<html>
    <head>
        <link rel="stylesheet" href="../static/css/style3.css">
    </head>
    <body>
        <div class="space"></div>
        <div class="line"></div>
        <h1>
            CLEAR
        </h1>
        <div class="line1">
            <p class="sentence">おめでとうございます！</p>
        <p class="sentence"><strong>2階〇〇教室</strong>の<strong>電子工学部</strong>に行き</p>
        <p class="sentence">この画面を見せてください！</p>
        <p class="sentence"><strong>景品</strong>と交換できます！</p>
        </div>
        <div class="img">
            <img src="../static/images/Futo.jpg" alt="">
        </div>
        <div class="line5"></div>

        <div class="imp">
            <p class="impre">感想をお聞かせください</p>
            <a href="/impressions" class="impression">感想フォームはこちら</a>
        </div>

        <div class="line2"></div>
        <h2>
            お知らせ
        </h2>
        <p class="info">
            Information
        </p>
        <p class="contents">電子工学部は不定期ながらYoutubeでの動画投稿も</p>
        <p class="contents">行っています。本日の展示も近日投稿しますので</p>
        <p class="contents">ぜひご覧ください</p>
        <div class="flex">
            <div class="url">
                <a href="https://www.youtube.com/channel/UCPp2Ld3iMSm6dQiIeu3abCA">リンクはこちら</a>
            </div>
            <div class="line3"></div>
        </div>
    
    </body>
</html>