<html>
    <head>
        <link rel="stylesheet" href="../static/css/style4-.css">
    </head>
    <body>
        <div class="clear">
            <div class="align">
                <a href="/clear">クリア画面へ戻る</a>
            </div>
        </div>
        <div class="line"></div>
        <div class="impressions">
            <p class="text">よろしければ<br>感想をお聞かせください</p>
            <div class="border">
                <form method="POST">
                    <p class="nick">ニックネーム：</p>
                    <input type="text" name="nickname" placeholder="ニックネームを入力" class="nickname">
                    <p class="content">感想：</p>
                    <div class="display">
                        <textarea name="text" id="text" cols="30" rows="10" placeholder="感想を入力" class="content"></textarea>
                    <input type="submit" value="送信" class="btn">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>