<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style2-.css">
        <title>
            about
        </title>
    </head>
    <body>
        <div class="top">
            <div class="a">
                <a href="/" class="home">HOME</a>
            </div>
            <div class="line"></div>
        </div>
        <h1>
            遊び方
        </h1>
        <div class="flex">
            <div class="box">
                <p class="step">
                    STEP1
                </p>
                <div class="step-line"></div>
                <div class="about">
                    <div class="img">
                        <img src="../static/images/look-man.png" alt="">
                    </div>
                    <p class="text">
                        PASSが書かれているビラを探してください！どこにあるかは最初の画面の左の画像または「場所のヒント」をタップすると見ることができます
                    </p>
                </div>
            </div>
            <div class="box">
                <p class="step">
                    STEP2
                </p>
                <div class="step-line"></div>
                <div class="about">
                    <p class="text2">
                        PASSを見つけることができたら書いてあるクイズを解いてください！その答えがパスワードになるので、入力スペースに入力しましょう
                    </p>
                    <div class="img">
                        <img src="../static/images/think.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box">
                <p class="step">
                    STEP3
                </p>
                <div class="step-line"></div>
                <div class="about">
                    <div class="img">
                        <img src="../static/images/happy.png" alt="">
                    </div>
                    <p class="text">
                        最後に、３つのパスワードすべてを入力することができたら一番下の決定ボタンを押してください！豪華（？）景品が待っています！！
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>